*{
    margin: 0%;
    padding: 0%;
    font-family: Metropolis,Inter,X-LocaleSpecific,sans-serif;
}
.section-one{
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 70px 200px;
}
#mozilla-image{
    height: 160px;
    width: 160px;
}
h1{
    color: white;
    font-size: 60px;
    margin-top: 20px;
}
.section-two{
    background-color: #3a2464;
    padding: 0 30px 40px 30px;
}
.middle{
    color: white;
    font-size: 33px;
    font-weight: 400;
    padding:40px 260px;
    text-align: center;
}
.f-box{
    background-color: #20123a;
    display: flex;
    margin: 0 60px;
    
}
.box{
    text-align: center;
    margin: 60px 40px;
    
}
#same{
    color: white;
    font-size: 33px;
    font-weight: 400;
    margin: 20px;
}
p{
    color: white;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}
.section-three{
    background-color: #20123a;
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0;
   
}
.point{
    display: flex;
    flex-direction: column;
}
a{
    font-size: 15px;
    color: white;
    margin: 5px 0;
}
h3{
    color: white;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}
h4{
    color: white;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    
}
#same-image{
    width: 20px;
    margin-left: 7px;
}
.point-two{
    margin-bottom:40px;
}
#button{
    text-decoration: none;
    background-color: #0060df;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
}
#button:hover{
    background-color:#004196 ;
}
footer{
    background-color: #20123a;
    display: flex;
    padding: 30px 60px 50px 60px;
    border-top: 1px solid #42425a;
}
.moz{
    width: 100px;
}
.footer-link{
    margin-bottom: 30px;
}
.footer-two{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}
input{
    padding-left: 10px;
    height: 30px;
    margin-top: 10px;
}
select{
    height:40px ;
    width: 150px;
}
